Repository dtsong/trainerlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, typecheck

ty:
  name: ty (type check)
  entry: bash -c 'cd apps/api && uv tool run ty check src'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && npx prettier --write "$@"' --
  language: system

typecheck:
  name: TypeScript typecheck
  entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @trainerlab/shared-types typecheck'
  language: system
  pass_filenames: false

fix: resolve remaining web typecheck errors across test files
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/components/__tests__/ErrorBoundary.test.tsx
  apps/web/src/components/admin/__tests__/LabNoteEditor.test.tsx
  apps/web/src/components/deck/__tests__/DeckExportModal.test.tsx
  apps/web/src/components/evolution/__tests__/DecklistDiff.test.tsx
  apps/web/src/components/evolution/__tests__/EvolutionChart.test.tsx
  apps/web/src/components/home/__tests__/FormatForecast.test.tsx
  apps/web/src/hooks/__tests__/useCards.test.ts
  apps/web/src/hooks/__tests__/useFormat.test.ts
Due: prettier, typecheck

fix: address PR #317 critical and important review issues
  apps/api/alembic/versions/20260209_0002_028_add_trip_check_constraints.py
  apps/api/src/clients/pokemon_events.py
  apps/api/src/clients/rk9.py
  apps/api/src/models/trip.py
  apps/api/src/routers/events.py
  apps/api/src/routers/trips.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/tournament.py
  apps/api/src/schemas/trip.py
  apps/api/src/utils/__init__.py
  apps/api/src/utils/dates.py
  apps/web/src/components/events/__tests__/EventCard.test.tsx
  apps/web/src/hooks/__tests__/useEvents.test.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/event.ts
Due: ty, prettier, typecheck

feat: separate official vs grassroots tournament analysis (#321)
  apps/api/alembic/versions/20260210_0001_029_add_tournament_type_to_meta_snapshots.py
  apps/api/src/models/meta_snapshot.py
  apps/api/src/pipelines/compute_meta.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/meta.py
  apps/api/src/schemas/meta.py
  apps/api/src/services/meta_service.py
  apps/api/tests/routers/test_admin_data.py
  apps/api/tests/test_compute_meta_pipeline.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_meta_service.py
  apps/api/tests/test_post_rotation_features.py
  apps/api/tests/test_visual_card_refs.py
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/app/meta/page.tsx
  apps/web/src/components/meta/TournamentTypeFilter.tsx
  apps/web/src/components/meta/__tests__/TournamentTypeFilter.test.tsx
  apps/web/src/components/meta/index.ts
  apps/web/src/lib/api-validation.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/meta-utils.ts
  packages/shared-types/src/meta.ts
Due: ty, prettier, typecheck

docs: refresh launch readiness status
  docs/PROJECT_STATUS.md
Due: prettier

docs: add launch operations checklist
  docs/LAUNCH_OPS_CHECKLIST.md
Due: prettier

docs: add launch day logging template
  docs/LAUNCH_DAY_TEMPLATE.md
Due: prettier

feat: add deep-linked URL state for data views
  apps/web/src/app/cards/__tests__/page.test.tsx
  apps/web/src/app/cards/page.tsx
  apps/web/src/app/decks/__tests__/page.test.tsx
  apps/web/src/app/decks/page.tsx
  apps/web/src/app/evolution/__tests__/page.test.tsx
  apps/web/src/app/evolution/page.tsx
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/app/meta/page.tsx
  apps/web/src/app/rotation/__tests__/page.test.tsx
  apps/web/src/app/rotation/page.tsx
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/tournaments/TournamentList.tsx
  apps/web/src/components/tournaments/__tests__/TournamentList.test.tsx
  apps/web/src/lib/__tests__/url-state.test.ts
  apps/web/src/lib/url-state.ts
Due: prettier, typecheck

fix: resolve web prerender failures and build guardrails
  .github/workflows/ci.yml
  apps/web/src/app/cards/page.tsx
  apps/web/src/app/decks/page.tsx
  apps/web/src/app/evolution/page.tsx
  apps/web/src/app/rotation/page.tsx
  package.json
Due: prettier, typecheck

feat: gate intelligence routes and add delayed public teaser
  apps/api/alembic/versions/20260211_0001_030_set_beta_default_false.py
  apps/api/src/dependencies/__init__.py
  apps/api/src/dependencies/auth.py
  apps/api/src/dependencies/beta.py
  apps/api/src/models/user.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/cards.py
  apps/api/src/routers/events.py
  apps/api/src/routers/evolution.py
  apps/api/src/routers/format.py
  apps/api/src/routers/japan.py
  apps/api/src/routers/meta.py
  apps/api/src/routers/public_api.py
  apps/api/src/routers/sets.py
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/public/__init__.py
  apps/api/src/schemas/user.py
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/home/HomePageContent.tsx
  apps/web/src/components/home/PublicTeaserSnapshot.tsx
  apps/web/src/components/home/index.ts
  apps/web/src/components/layout/BetaAccessGate.tsx
  apps/web/src/components/layout/LayoutChrome.tsx
  apps/web/src/components/layout/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useCurrentUser.ts
  apps/web/src/hooks/usePublicTeaser.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/route-access.ts
  apps/web/src/middleware.ts
Due: ty, prettier, typecheck

feat: harden ingestion reliability and cross-source event dedupe
  apps/api/src/clients/limitless.py
  apps/api/src/clients/pokecabook.py
  apps/api/src/clients/pokekameshi.py
  apps/api/src/clients/pokemon_events.py
  apps/api/src/clients/retry_policy.py
  apps/api/src/clients/rk9.py
  apps/api/src/clients/tcgdex.py
  apps/api/src/pipelines/sync_events.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/public_api.py
  apps/api/src/schemas/health.py
  apps/api/src/services/health_service.py
  apps/api/tests/routers/test_admin_data.py
  apps/api/tests/routers/test_public_api_router.py
  apps/api/tests/test_health_service.py
  apps/api/tests/test_pokecabook_client.py
  apps/api/tests/test_rk9_client.py
  apps/api/tests/test_sync_events_pipeline.py
  apps/web/src/components/home/PublicTeaserSnapshot.tsx
  apps/web/src/components/home/__tests__/PublicTeaserSnapshot.test.tsx
  docs/CODEMAP.md
  docs/SCRIPTS.md
  docs/SPEC.md
  scripts/cloud/test-production-scrapers.sh
  scripts/cloud/verify-pipelines.sh
  terraform/modules/scheduler/main.tf
Due: ty, prettier, typecheck

feat: improve JP mapping coverage and aggregate query performance
  apps/api/alembic/versions/20260212_0001_031_optimize_decklist_aggregates.py
  apps/api/src/pipelines/sync_card_mappings.py
  apps/api/src/pipelines/sync_jp_adoption_rates.py
  apps/api/src/routers/japan.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/test_japan.py
  apps/api/tests/test_pipeline_router_extended.py
  apps/api/tests/test_sync_card_mappings.py
  apps/api/tests/test_sync_jp_adoption_rates.py
  docs/PERFORMANCE.md
  docs/SCRIPTS.md
  scripts/local/benchmark-card-count-evolution.sh
  scripts/local/explain-card-count-evolution.sql
Due: ty, prettier

feat: standardize freshness metadata and degraded state UX
  apps/api/src/routers/meta.py
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/freshness.py
  apps/api/src/schemas/meta.py
  apps/api/src/schemas/pagination.py
  apps/api/src/services/freshness.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_tournaments.py
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/app/meta/page.tsx
  apps/web/src/components/meta/DataFreshnessBanner.tsx
  apps/web/src/components/meta/index.ts
  apps/web/src/components/tournaments/TournamentList.tsx
  apps/web/src/components/tournaments/__tests__/TournamentList.test.tsx
  apps/web/src/lib/__tests__/api-validation.test.ts
  apps/web/src/lib/api-validation.ts
  docs/CODEMAP.md
  docs/SPEC.md
  packages/shared-types/src/freshness.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/meta.ts
  packages/shared-types/src/pagination.ts
  packages/shared-types/src/tournament.ts
Due: ty, prettier, typecheck

chore: add CI guardrail for pipeline scheduler drift
  .github/workflows/ci.yml
  docs/SPEC.md
  scripts/ci/check_pipeline_drift.py
Due: ty, prettier

fix: prevent OAuth subject drift lockouts
  apps/api/src/dependencies/auth.py
  apps/api/tests/test_auth.py
  apps/api/tests/test_format_router.py
  apps/api/tests/test_japan.py
  apps/api/tests/test_user_beta_flag.py
Due: ty

feat: add subscriber entitlement and improve access refresh
  apps/api/alembic/versions/20260212_0002_032_add_is_subscriber_flag.py
  apps/api/src/dependencies/beta.py
  apps/api/src/models/user.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/users.py
  apps/api/src/schemas/user.py
  apps/api/tests/routers/test_admin_subscribers.py
  apps/api/tests/routers/test_users_router.py
  apps/web/src/app/api/auth/token/route.ts
  apps/web/src/components/home/HomePageContent.tsx
  apps/web/src/components/layout/BetaAccessGate.tsx
  apps/web/src/hooks/useCurrentUser.ts
  apps/web/src/lib/api.ts
Due: ty, prettier, typecheck

chore: fix deploy workflow pipeline health check
  .github/workflows/deploy-api.yml
Due: prettier

docs: add OAuth access troubleshooting notes
  docs/OPERATIONS.md
Due: prettier

feat: add admin TPCI readiness check
  apps/api/src/routers/admin.py
  apps/api/src/schemas/readiness.py
  apps/api/src/services/readiness.py
  apps/api/tests/routers/test_admin_readiness.py
  docs/OPERATIONS.md
  scripts/cloud/check-tpci-readiness.sh
Due: ty, prettier

feat: enrich freshness with sources and confidence
  apps/api/src/routers/meta.py
  apps/api/src/routers/tournaments.py
  apps/web/src/components/meta/DataFreshnessBanner.tsx
  apps/web/src/components/meta/__tests__/DataFreshnessBanner.test.tsx
Due: ty, prettier, typecheck

feat: add admin access management UI
  apps/web/src/app/admin/access/page.tsx
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/admin/__tests__/AdminSidebar.test.tsx
  apps/web/src/lib/api.ts
  docs/RESEARCH_LIMITLESS_LABS.md
Due: prettier, typecheck

feat: add automated TPCI readiness alerts
  .github/workflows/tpci-readiness-alert.yml
  apps/api/src/config.py
  apps/api/src/dependencies/ops_alerts.py
  apps/api/src/main.py
  apps/api/src/routers/__init__.py
  apps/api/src/routers/ops.py
  docs/OPERATIONS.md
Due: ty, prettier

feat: add admin audit logging for access changes
  apps/api/alembic/versions/20260212_0003_033_add_admin_audit_events.py
  apps/api/src/models/__init__.py
  apps/api/src/models/admin_audit_event.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/audit.py
  apps/api/src/services/audit.py
Due: ty

feat: add admin audit log viewer
  apps/web/src/app/admin/audit/page.tsx
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/admin/__tests__/AdminSidebar.test.tsx
  apps/web/src/lib/api.ts
Due: prettier, typecheck

feat: support pre-login access grants
  apps/api/alembic/versions/20260212_0004_034_add_access_grants.py
  apps/api/src/dependencies/auth.py
  apps/api/src/models/__init__.py
  apps/api/src/models/access_grant.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/access_grants.py
  apps/api/tests/routers/test_admin_access_grants.py
  apps/api/tests/test_auth.py
  apps/web/src/app/admin/access/page.tsx
  apps/web/src/lib/api.ts
Due: ty, prettier, typecheck

feat: add closed beta request page and richer waitlist
  apps/api/alembic/versions/20260212_0005_035_extend_waitlist_requests.py
  apps/api/src/models/waitlist.py
  apps/api/src/routers/waitlist.py
  apps/api/tests/routers/test_waitlist.py
  apps/web/src/app/api/waitlist/route.ts
  apps/web/src/app/closed-beta/page.tsx
  apps/web/src/components/layout/BetaAccessGate.tsx
Due: ty, prettier, typecheck

chore(terraform): configure admin emails and readiness token
  terraform/main.tf
  terraform/variables.tf
Due: none

feat: improve closed beta access refresh UX
  apps/web/src/app/auth/login/__tests__/page.test.tsx
  apps/web/src/app/auth/login/page.tsx
  apps/web/src/components/layout/BetaAccessGate.tsx
  docs/CLOSED_BETA_SMOKE_TEST.md
  docs/OPERATIONS.md
Due: prettier, typecheck

fix: block gated pages when signed out
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/components/layout/BetaAccessGate.tsx
  apps/web/src/lib/route-access.ts
Due: prettier, typecheck

feat: require auth for non-public routes
  apps/web/src/components/layout/BetaAccessGate.tsx
  apps/web/src/components/layout/__tests__/BetaAccessGate.test.tsx
Due: prettier, typecheck

fix(web): appease react/no-unescaped-entities
  apps/web/src/components/layout/BetaAccessGate.tsx
Due: prettier, typecheck

fix(web): align closed beta UX and stabilize auth token
  apps/web/src/app/admin/access/page.tsx
  apps/web/src/app/api/auth/token/route.ts
  apps/web/src/app/closed-beta/page.tsx
Due: prettier, typecheck

fix(ops): skip readiness alert check when token is unset
  .github/workflows/tpci-readiness-alert.yml
  docs/CLOSED_BETA_SMOKE_TEST.md
  docs/LAUNCH_OPS_CHECKLIST.md
  docs/OPERATIONS.md
Due: prettier

feat(api): add official major format windows and roadmap ingestion
  apps/api/alembic/versions/20260212_0006_036_add_major_format_windows.py
  apps/api/alembic/versions/20260212_0007_037_add_major_format_columns_to_tournaments.py
  apps/api/fixtures/formats.json
  apps/api/src/clients/claude.py
  apps/api/src/clients/pokemon_events.py
  apps/api/src/main.py
  apps/api/src/models/__init__.py
  apps/api/src/models/major_format_window.py
  apps/api/src/models/tournament.py
  apps/api/src/pipelines/backfill_major_format_windows.py
  apps/api/src/pipelines/seed_data.py
  apps/api/src/routers/events.py
  apps/api/src/routers/pipeline.py
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/event.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/schemas/tournament.py
  apps/api/src/services/health_service.py
  apps/api/src/services/major_format_windows.py
  apps/api/src/services/meta_service.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_major_format_windows.py
  apps/api/tests/test_meta_service.py
  apps/api/tests/test_pokemon_events_client.py
  apps/api/tests/test_tournament_scrape.py
  apps/api/tests/test_tournaments.py
Due: ty, prettier

feat(web): highlight official majors with roadmap filters
  apps/web/src/app/events/[id]/page.tsx
  apps/web/src/app/events/__tests__/page.test.tsx
  apps/web/src/app/events/page.tsx
  apps/web/src/app/tournaments/[id]/page.tsx
  apps/web/src/app/tournaments/__tests__/page.test.tsx
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/events/EventCard.tsx
  apps/web/src/components/events/EventFilters.tsx
  apps/web/src/components/events/__tests__/EventCard.test.tsx
  apps/web/src/components/tournaments/TournamentFilters.tsx
  apps/web/src/components/tournaments/TournamentList.tsx
  apps/web/src/components/tournaments/TournamentRow.tsx
  apps/web/src/components/tournaments/__tests__/TournamentFilters.test.tsx
  apps/web/src/components/tournaments/__tests__/TournamentRow.test.tsx
  apps/web/src/lib/api.ts
  apps/web/src/lib/official-majors.ts
  packages/shared-types/src/event.ts
  packages/shared-types/src/tournament.ts
Due: prettier, typecheck

feat(web): add dedicated grassroots analysis page
  apps/web/src/app/grassroots/__tests__/page.test.tsx
  apps/web/src/app/grassroots/page.tsx
  apps/web/src/app/tournaments/__tests__/page.test.tsx
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/components/layout/TopNav.tsx
  apps/web/src/components/layout/__tests__/MobileNav.test.tsx
  apps/web/src/components/layout/__tests__/TopNav.test.tsx
Due: prettier, typecheck

feat(admin): improve access operations visibility and readiness guidance
  apps/api/tests/routers/test_ops_readiness.py
  apps/web/src/app/admin/access/__tests__/utils.test.ts
  apps/web/src/app/admin/access/page.tsx
  apps/web/src/app/admin/access/utils.ts
  apps/web/src/components/meta/DataFreshnessBanner.tsx
  apps/web/src/components/meta/__tests__/DataFreshnessBanner.test.tsx
  docs/OPERATIONS.md
Due: ty, prettier, typecheck

docs(research): finalize Limitless Labs signal-source evaluation
  docs/RESEARCH_LIMITLESS_LABS.md
Due: prettier

feat(web): ship closed-beta launch pages and fix JP auth fetches
  apps/web/src/app/lab-notes/introducing-trainerlab-closed-beta/page.tsx
  apps/web/src/app/lab-notes/onboarding-competitors-closed-beta/page.tsx
  apps/web/src/app/lab-notes/onboarding-creators-coaches-closed-beta/page.tsx
  apps/web/src/app/lab-notes/page.tsx
  apps/web/src/components/home/PublicTeaserSnapshot.tsx
  apps/web/src/components/home/__tests__/PublicTeaserSnapshot.test.tsx
  apps/web/src/components/japan/UpcomingCards.tsx
  apps/web/src/lib/api.ts
  docs/OUTREACH_BATCH_001.md
  docs/PROJECT_STATUS.md
Due: prettier, typecheck

fix(web): load JP meta without missing era filter
  apps/web/src/app/meta/japan/page.tsx
Due: prettier, typecheck

Path conditions:
  ty: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: pnpm-lock.yaml
  typecheck: any of: \.(ts|mts|cts)$, \.tsx$
