Repository dtsong/trainerlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, typecheck

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # Python - Ruff (linting and formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty (type check)
        entry: bash -c 'cd apps/api && uv tool run ty check src'
        language: system
        types: [python]
        pass_filenames: false

  # TypeScript/JavaScript - Prettier (uses project's own version)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && npx prettier --write "$@"' --
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: pnpm-lock.yaml

  # TypeScript - Type checking (shared-types only until apps are set up)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript typecheck
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @trainerlab/shared-types typecheck'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

ci: remove redundant tests from deploy pipeline and main push
  .github/workflows/ci.yml
  .github/workflows/deploy-api.yml
Due: prettier

fix: pin uv version and use exec form CMD in API Dockerfile
  apps/api/Dockerfile
Due: none

fix: configure root logger so scraper INFO logs reach Cloud Run
  apps/api/src/main.py
Due: ty

fix: add detailed logging to JP City League scraper
  apps/api/src/clients/limitless.py
  apps/api/src/services/tournament_scrape.py
Due: ty

fix: tournament_exists crashes on duplicate source_url rows
  apps/api/src/services/tournament_scrape.py
Due: ty

fix: parse decklists from official Limitless site (image-based format)
  apps/api/src/clients/limitless.py
Due: ty

fix: dedicated HTTP client for official site + JP archetype extraction
  apps/api/src/clients/limitless.py
  apps/api/tests/fixtures/limitless_jp_standings.html
  apps/api/tests/fixtures/limitless_official_decklist.html
  apps/api/tests/test_limitless_scraper.py
  scripts/verify-pipelines.sh
Due: ty

fix: prevent duplicate tournament inserts with unique constraint + idempotent saves
  apps/api/alembic/versions/20260203_0001_011_add_unique_source_url.py
  apps/api/src/models/tournament.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_tournament_scrape.py
  terraform/modules/scheduler/main.tf
Due: ty

fix: update lookback_days validation test to match schema cap of 365
  apps/api/tests/test_pipeline_router.py
Due: ty

feat: add Cloud Tasks two-phase pipeline for tournament scraping
  apps/api/pyproject.toml
  apps/api/src/config.py
  apps/api/src/dependencies/scheduler_auth.py
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/cloud_tasks.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_cloud_tasks_pipeline.py
  apps/api/tests/test_pipeline_router.py
  apps/api/uv.lock
  terraform/main.tf
  terraform/modules/cloud_tasks/main.tf
  terraform/modules/cloud_tasks/outputs.tf
  terraform/modules/cloud_tasks/variables.tf
  terraform/modules/scheduler/main.tf
Due: ty

fix: grant API SA serviceAccountUser on itself for Cloud Tasks OIDC
  scripts/test-production-scrapers.sh
  scripts/verify-pipelines.sh
  terraform/main.tf
Due: none

fix: pass secret explicitly to NextAuth config for Vercel deployment
  apps/web/.env.production
  apps/web/src/lib/auth.ts
Due: prettier, typecheck

feat: manage NEXTAUTH_SECRET via Google Secret Manager for Cloud Run
  terraform/main.tf
Due: none

fix: correct SetResponse.legalities type from dict[str, str] to dict[str, bool]
  apps/api/src/schemas/set.py
  apps/api/tests/test_schemas.py
  apps/api/tests/test_sets.py
Due: ty

feat: add data quality verification script and scripts documentation
  docs/SCRIPTS.md
  scripts/verify-data.sh
Due: prettier

fix: include enhanced meta fields in snapshot API response
  apps/api/src/routers/meta.py
  apps/api/src/schemas/__init__.py
  apps/api/tests/test_meta.py
  apps/web/src/app/page.tsx
  apps/web/src/components/home/ContentGrid.tsx
  apps/web/src/components/home/EvolutionPreview.tsx
  apps/web/src/components/home/Hero.tsx
  apps/web/src/components/home/JPAlertBanner.tsx
  apps/web/src/components/home/JPPreview.tsx
  apps/web/src/components/home/MetaSnapshot.tsx
  apps/web/src/components/home/skeletons.tsx
  apps/web/src/hooks/__tests__/useMeta.test.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useMeta.ts
  apps/web/src/lib/__tests__/home-utils.test.ts
  apps/web/src/lib/home-utils.ts
Due: ty, prettier, typecheck

fix: derive rotation transition from format configs in verify-data.sh
  scripts/verify-data.sh
Due: none

fix: enforce data quality for archetypes, meta shares, and tournament tiers
  README.md
  apps/api/src/clients/limitless.py
  apps/api/src/data/signature_cards.py
  apps/api/src/services/meta_service.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_data_quality.py
Due: ty, prettier

fix: populate tournament tier on seed and simplify to Major/Grassroots filter
  apps/api/scripts/seed-tournaments.py
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/tournament.py
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/tournaments/TournamentFilters.tsx
  packages/shared-types/src/tournament.ts
Due: ty, prettier, typecheck

feat: add sortable column headers to admin DataTable
  apps/web/src/app/admin/tournaments/page.tsx
  apps/web/src/components/admin/DataTable.tsx
  apps/web/src/components/admin/__tests__/DataTable.test.tsx
  apps/web/src/components/admin/index.ts
  apps/web/src/lib/api.ts
Due: prettier, typecheck

feat: add Alembic data migration to backfill tournament tiers
  apps/api/alembic/versions/20260203_0002_012_backfill_tournament_tiers.py
Due: ty

chore: update OAuth env vars to NextAuth v5 names, fix feed caching, update terraform
  apps/web/.env.example
  apps/web/.env.production
  apps/web/src/app/feed.xml/route.ts
  docs/architecture/AUTHENTICATION.md
  terraform/main.tf
  terraform/variables.tf
Due: prettier, typecheck

fix: limit archetype pie chart to top 8 + Other to prevent legend overflow
  apps/web/src/components/meta/MetaPieChart.tsx
  apps/web/src/components/meta/__tests__/MetaPieChart.test.tsx
  apps/web/src/lib/chart-colors.ts
  apps/web/src/lib/meta-utils.ts
Due: prettier, typecheck

fix: convert API decimal shares to percentages on homepage
  apps/web/src/components/home/EvolutionPreview.tsx
  apps/web/src/lib/__tests__/home-utils.test.ts
  apps/web/src/lib/home-utils.ts
Due: prettier, typecheck

fix: filter junk archetypes from JP divergence banner and refine styling
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta_service.py
  apps/web/src/components/home/JPAlertBanner.tsx
  apps/web/src/lib/__tests__/home-utils.test.ts
  apps/web/src/lib/home-utils.ts
Due: ty, prettier, typecheck

feat: add decklist viewer and card count evolution API endpoints
  apps/api/src/routers/japan.py
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/japan.py
  apps/api/src/schemas/tournament.py
  apps/api/tests/test_japan.py
  apps/api/tests/test_tournaments.py
Due: ty

feat: add Japan meta components and redesign page to sectioned layout
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/CardCountEvolutionChart.tsx
  apps/web/src/components/japan/CardCountEvolutionSection.tsx
  apps/web/src/components/japan/CityLeagueResultsFeed.tsx
  apps/web/src/components/japan/DecklistViewer.tsx
  apps/web/src/components/japan/MetaDivergenceComparison.tsx
  apps/web/src/components/japan/__tests__/CardCountEvolutionChart.test.tsx
  apps/web/src/components/japan/__tests__/CardCountEvolutionSection.test.tsx
  apps/web/src/components/japan/__tests__/CityLeagueResultsFeed.test.tsx
  apps/web/src/components/japan/__tests__/DecklistViewer.test.tsx
  apps/web/src/components/japan/__tests__/MetaDivergenceComparison.test.tsx
  apps/web/src/components/japan/index.ts
  apps/web/src/hooks/useJapan.ts
  apps/web/src/hooks/useTournaments.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/japan.ts
  packages/shared-types/src/tournament.ts
Due: prettier, typecheck

feat: add beta tester flag and gate all routes behind authentication
  apps/api/alembic/versions/20260203_0003_013_add_is_beta_tester_to_users.py
  apps/api/src/dependencies/auth.py
  apps/api/src/models/user.py
  apps/api/tests/test_user_beta_flag.py
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/app/auth/login/__tests__/page.test.tsx
  apps/web/src/app/auth/login/page.tsx
  apps/web/src/components/home/ResearchPassWaitlist.tsx
  apps/web/src/middleware.ts
Due: ty, prettier, typecheck

docs: update architecture diagrams and fix stale Firebase/status references
  README.md
  docs/PROJECT_STATUS.md
  docs/SPEC.md
  docs/architecture/APPLICATION_LAYERS.md
  docs/architecture/DATA_PIPELINE.md
  docs/architecture/README.md
  docs/architecture/SYSTEM_OVERVIEW.md
Due: prettier

feat: add content workflow and admin lab notes editor
  apps/api/alembic/versions/20260203_0004_014_add_lab_note_workflow_and_revisions.py
  apps/api/src/config.py
  apps/api/src/dependencies/__init__.py
  apps/api/src/dependencies/admin.py
  apps/api/src/models/__init__.py
  apps/api/src/models/lab_note.py
  apps/api/src/models/lab_note_revision.py
  apps/api/src/routers/lab_notes.py
  apps/api/src/schemas/lab_note.py
  apps/api/src/services/lab_note_service.py
  apps/web/package.json
  apps/web/src/app/admin/lab-notes/[id]/page.tsx
  apps/web/src/app/admin/lab-notes/new/page.tsx
  apps/web/src/app/admin/lab-notes/page.tsx
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/components/admin/LabNoteEditor.tsx
  apps/web/src/components/admin/MarkdownPreview.tsx
  apps/web/src/components/admin/index.ts
  apps/web/src/hooks/useLabNotesAdmin.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/lab-note.ts
  pnpm-lock.yaml
Due: ty, prettier, typecheck

feat: add ClaudeClient with classify, generate, translate methods
  apps/api/src/clients/claude.py
  apps/api/tests/test_claude_client.py
Due: ty

feat: add Anthropic API key secret to Terraform
  terraform/main.tf
Due: none

refactor: address code review feedback for ClaudeClient
  apps/api/src/clients/__init__.py
  apps/api/src/clients/claude.py
  apps/api/tests/test_claude_client.py
Due: ty

feat: add anthropic_api_key to Settings
  apps/api/src/config.py
  apps/api/tests/test_config_anthropic.py
Due: ty

feat: add anthropic SDK dependency
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: none

feat: implement Phase 3A evolution tracking system
  apps/api/alembic/env.py
  apps/api/alembic/versions/20260204_0001_015_add_evolution_tables.py
  apps/api/src/data/card_reprints.py
  apps/api/src/models/__init__.py
  apps/api/src/models/adaptation.py
  apps/api/src/models/archetype_evolution_snapshot.py
  apps/api/src/models/archetype_prediction.py
  apps/api/src/models/evolution_article.py
  apps/api/src/models/evolution_article_snapshot.py
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/services/decklist_diff.py
  apps/api/src/services/evolution_service.py
  apps/api/tests/test_decklist_diff.py
  apps/api/tests/test_evolution_service.py
Due: ty

feat: add AI services and fix TCGdex URL encoding (#267, #276, #277, #279)
  apps/api/src/clients/tcgdex.py
  apps/api/src/services/adaptation_classifier.py
  apps/api/src/services/evolution_article_generator.py
  apps/api/src/services/prediction_engine.py
  apps/api/tests/test_adaptation_classifier.py
  apps/api/tests/test_evolution_article_generator.py
  apps/api/tests/test_prediction_engine.py
  apps/api/tests/test_tcgdex_client.py
Due: ty

feat: add evolution intelligence pipeline and API endpoints (#278, #280)
  apps/api/src/main.py
  apps/api/src/pipelines/compute_evolution.py
  apps/api/src/routers/__init__.py
  apps/api/src/routers/evolution.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/evolution.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/test_compute_evolution_pipeline.py
  apps/api/tests/test_evolution_router.py
  terraform/modules/scheduler/main.tf
Due: ty

fix: export shared-types from source for Vercel build
  packages/shared-types/package.json
Due: prettier
