Repository dtsong/trainerlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, typecheck

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # Python - Ruff (linting and formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty (type check)
        entry: bash -c 'cd apps/api && uv tool run ty check src'
        language: system
        types: [python]
        pass_filenames: false

  # TypeScript/JavaScript - Prettier (uses project's own version)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && npx prettier --write "$@"' --
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: pnpm-lock.yaml

  # TypeScript - Type checking (shared-types only until apps are set up)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript typecheck
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @trainerlab/shared-types typecheck'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

chore: gitignore .claude/council/sessions for local plan history
  .gitignore
Due: none

feat: open public pages, add content-aware verification, schedule reprocess
  .github/workflows/deploy-api.yml
  apps/web/src/__tests__/middleware.test.ts
  apps/web/src/middleware.ts
  scripts/cloud/snapshot-prod.sh
  scripts/cloud/test-production-scrapers.sh
  scripts/cloud/verify-data.sh
  scripts/cloud/verify-phase3.sh
  scripts/cloud/verify-pipelines.sh
  scripts/local/db-local.sh
  scripts/local/export-data.sh
  scripts/local/ingest-jp-deep.sh
  scripts/local/test-jp-scrape.sh
  scripts/local/verify-local.sh
  terraform/modules/scheduler/main.tf
  tl
Due: prettier, typecheck

fix: lag_analysis exact-date match, verify script sample size, tl trigger auth
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta_comparison_service.py
  scripts/cloud/verify-data.sh
  tl
Due: ty

feat: sprite URL fallback and JP intelligence pipeline
  apps/api/src/pipelines/compute_jp_intelligence.py
  apps/api/src/pipelines/compute_meta.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/meta_service.py
  apps/api/tests/test_compute_jp_intelligence.py
  apps/api/tests/test_sprite_urls.py
Due: ty

fix: backfill empty sprite_urls on existing DB rows
  apps/api/src/pipelines/compute_jp_intelligence.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/tests/test_sprite_urls.py
Due: ty

fix: seed archetype_sprites table via JP intelligence pipeline
  apps/api/src/pipelines/compute_jp_intelligence.py
Due: ty

feat: admin data dashboard + CSP sprite fix + register admin router
  apps/api/src/main.py
  apps/api/src/routers/__init__.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/admin_data.py
  apps/api/tests/routers/test_admin_data.py
  apps/web/Dockerfile
  apps/web/next.config.js
  apps/web/src/app/admin/data/__tests__/page.test.tsx
  apps/web/src/app/admin/data/page.tsx
  apps/web/src/components/admin/AdminSidebar.tsx
  apps/web/src/lib/api.ts
Due: ty, prettier, typecheck

fix: filter noise-floor archetypes by minimum tournament count
  apps/api/src/services/meta_service.py
  apps/api/tests/test_data_quality.py
  apps/api/tests/test_meta_service.py
Due: ty

fix: serialize DivergentArchetype to dict before JSONB insert
  apps/api/src/services/meta_service.py
Due: ty

fix: save_snapshot UPDATE path now writes all fields
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta_service.py
Due: ty

feat: add rescrape-jp pipeline to fix stale archetype data
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/tournament_scrape.py
  tl
Due: ty

feat: JP post-rotation meta intelligence (Phase 1)
  apps/api/alembic/versions/20260207_0002_025_add_era_label_and_content_fields.py
  apps/api/src/clients/claude.py
  apps/api/src/data/tcg_glossary.py
  apps/api/src/models/meta_snapshot.py
  apps/api/src/models/translated_content.py
  apps/api/src/pipelines/compute_meta.py
  apps/api/src/pipelines/translate_pokecabook.py
  apps/api/src/routers/japan.py
  apps/api/src/routers/meta.py
  apps/api/src/schemas/japan.py
  apps/api/src/schemas/meta.py
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_post_rotation_features.py
  apps/api/tests/test_tcg_glossary_data.py
  apps/api/tests/test_translation_pipelines.py
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/JPAnalysisTab.tsx
  apps/web/src/components/japan/JPContentCard.tsx
  apps/web/src/components/japan/RotationBriefingHeader.tsx
  apps/web/src/components/japan/__tests__/JPContentCard.test.tsx
  apps/web/src/components/japan/__tests__/RotationBriefingHeader.test.tsx
  apps/web/src/components/japan/index.ts
  apps/web/src/components/ui/__tests__/translation-badge.test.tsx
  apps/web/src/components/ui/translation-badge.tsx
  apps/web/src/lib/api.ts
  packages/shared-types/src/japan.ts
Due: ty, prettier, typecheck

feat: add wipe-data pipeline endpoint for clean DB reset
  apps/api/src/pipelines/wipe_data.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
Due: ty

feat: add seed-data pipeline endpoint for format configs and sprites
  apps/api/src/pipelines/seed_data.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
Due: ty

fix: parse date strings to date objects in seed-data pipeline
  apps/api/src/pipelines/seed_data.py
Due: ty

feat: add prune-tournaments pipeline to delete old tournament data
  apps/api/src/pipelines/prune_tournaments.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
Due: ty

feat: add min_date filter to JP discover pipeline
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/tournament_scrape.py
  terraform/modules/scheduler/main.tf
Due: ty

feat: Mega ordering, admin display names, 2% pie chart threshold
  apps/api/alembic/versions/20260208_0001_026_add_display_name_to_archetype_sprites.py
  apps/api/src/models/archetype_sprite.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/meta.py
  apps/api/src/schemas/archetype_sprite.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/meta_service.py
  apps/api/tests/test_admin_router.py
  apps/api/tests/test_archetype_normalizer.py
  apps/web/src/components/meta/MetaPieChart.tsx
  apps/web/src/components/meta/__tests__/MetaPieChart.test.tsx
  apps/web/src/lib/__tests__/meta-utils.test.ts
  apps/web/src/lib/meta-utils.ts
Due: ty, prettier, typecheck

feat: add JP post-rotation sprite composites to archetype maps
  apps/api/src/services/archetype_normalizer.py
  apps/api/tests/test_archetype_normalizer.py
Due: ty

fix: increase Claude API retry backoff and update model IDs
  apps/api/src/clients/claude.py
  terraform/modules/scheduler/main.tf
Due: ty

feat: add visual card references with names and images (#320)
  apps/api/src/routers/cards.py
  apps/api/src/routers/japan.py
  apps/api/src/routers/meta.py
  apps/api/src/schemas/japan.py
  apps/api/src/schemas/meta.py
  apps/api/src/services/card_service.py
  apps/api/tests/test_card_batch.py
  apps/api/tests/test_japan.py
  apps/api/tests/test_jp_key_card_details.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_visual_card_refs.py
  apps/web/package.json
  apps/web/src/app/admin/meta/page.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/cards/CardImage.tsx
  apps/web/src/components/cards/CardReference.tsx
  apps/web/src/components/cards/__tests__/CardReference.test.tsx
  apps/web/src/components/japan/NewArchetypeWatch.tsx
  apps/web/src/components/japan/__tests__/NewArchetypeWatch.test.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/hooks/useCardBatchLookup.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/japan.ts
  packages/shared-types/src/meta.ts
  pnpm-lock.yaml
Due: ty, prettier, typecheck

fix: show all archetypes above 2% in pie chart instead of capping at 8
  apps/web/src/components/meta/MetaPieChart.tsx
  apps/web/src/components/meta/__tests__/MetaPieChart.test.tsx
Due: prettier, typecheck

fix: resolve broken JP card images in Tech Card Insights (#322)
  apps/api/src/routers/meta.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_visual_card_refs.py
Due: ty

chore: remove unused JPPreview, MetaDivergenceComparison, and buildJPComparisons
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/home/JPPreview.tsx
  apps/web/src/components/home/__tests__/JPPreview.test.tsx
  apps/web/src/components/home/index.ts
  apps/web/src/lib/__tests__/home-utils.test.ts
  apps/web/src/lib/home-utils.ts
Due: prettier, typecheck

feat: redesign tournaments page with tab-segmented list layout
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/tournaments/TournamentFilters.tsx
  apps/web/src/components/tournaments/TournamentList.tsx
  apps/web/src/components/tournaments/TournamentRow.tsx
  apps/web/src/components/tournaments/__tests__/TournamentFilters.test.tsx
  apps/web/src/components/tournaments/__tests__/TournamentList.test.tsx
  apps/web/src/components/tournaments/__tests__/TournamentRow.test.tsx
  apps/web/src/components/tournaments/index.ts
Due: prettier, typecheck

feat: add JP card sync pipeline for TCGdex and fix stale test expectations
  apps/api/src/pipelines/__init__.py
  apps/api/src/pipelines/sync_cards.py
  apps/api/src/routers/pipeline.py
  apps/api/src/services/card_sync.py
  apps/api/tests/fixtures/jp_tournaments/expected_results.json
  apps/api/tests/test_card_sync.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_sync_cards.py
  apps/api/tests/test_tournament_scrape.py
Due: ty, prettier

fix: remove ME block sets from JP sync (not on TCGdex JP locale)
  apps/api/src/services/card_sync.py
  apps/api/tests/test_card_sync.py
Due: ty

test: add tests for data_quality.validate_placement and wipe_data pipeline (#324, #325)
  apps/api/tests/test_data_quality.py
  apps/api/tests/test_wipe_data.py
Due: ty

test: add prune_tournaments tests and fill health/lab_note coverage gaps (#331, #333)
  apps/api/tests/test_health_service.py
  apps/api/tests/test_lab_note_service.py
  apps/api/tests/test_prune_tournaments.py
Due: ty

test: add snapshot validation and pipeline idempotency tests (#326, #332)
  apps/api/src/services/data_quality.py
  apps/api/src/services/meta_service.py
  apps/api/tests/test_data_quality.py
  apps/api/tests/test_pipeline_idempotency.py
Due: ty

feat: add retry logic and timeout handling to pipelines (#327, #329)
  apps/api/src/pipelines/compute_evolution.py
  apps/api/src/pipelines/compute_meta.py
  apps/api/src/pipelines/sync_jp_adoption_rates.py
  apps/api/src/services/card_sync.py
  apps/api/src/services/meta_service.py
  apps/api/src/services/pipeline_resilience.py
  apps/api/tests/test_pipeline_resilience.py
Due: ty

test: improve tournament_scrape coverage and add EN pipeline E2E tests (#328, #330)
  apps/api/tests/test_en_pipeline_e2e.py
  apps/api/tests/test_tournament_scrape.py
Due: ty

feat: add creator shared types, hooks, and embed widget routes (#300, #302)
  apps/web/next.config.js
  apps/web/public/embed.js
  apps/web/src/app/embed/[id]/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/embed/EmbedWidgetClient.tsx
  apps/web/src/components/embed/__tests__/EmbedWidgetClient.test.tsx
  apps/web/src/components/layout/LayoutChrome.tsx
  apps/web/src/components/layout/index.ts
  apps/web/src/hooks/__tests__/useApiKeys.test.ts
  apps/web/src/hooks/__tests__/useExports.test.ts
  apps/web/src/hooks/__tests__/useWidgets.test.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useApiKeys.ts
  apps/web/src/hooks/useExports.ts
  apps/web/src/hooks/useWidgets.ts
  apps/web/src/lib/api.ts
  apps/web/src/middleware.ts
  packages/shared-types/src/creator.ts
  packages/shared-types/src/index.ts
Due: prettier, typecheck

feat: capture JP meta
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta_service.py
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/JPAnalysisTab.tsx
  apps/web/src/components/japan/RotationBriefingHeader.tsx
  apps/web/src/components/japan/__tests__/JPAnalysisTab.test.tsx
  apps/web/src/components/japan/__tests__/RotationBriefingHeader.test.tsx
  apps/web/src/lib/api.ts
Due: ty, prettier, typecheck

fix: wire up events and trips routers in main.py
  apps/api/src/main.py
Due: ty

fix: resolve CI lint and typecheck failures
  apps/api/src/clients/pokecabook.py
  apps/api/tests/test_archetype_detector.py
  apps/web/src/lib/__tests__/api-validation.test.ts
  apps/web/src/lib/__tests__/api.test.ts
  apps/web/src/lib/__tests__/auth.test.ts
  apps/web/src/stores/__tests__/deckStore.test.ts
Due: ty, prettier, typecheck

fix: refine TC-1 schemas, error handling, and shared types
  apps/api/src/clients/pokemon_events.py
  apps/api/src/clients/rk9.py
  apps/api/src/pipelines/sync_events.py
  apps/api/src/routers/trips.py
  apps/api/src/schemas/trip.py
  apps/api/tests/test_pokemon_events_client.py
  apps/web/src/app/trips/[id]/page.tsx
  apps/web/src/app/trips/share/[token]/page.tsx
  apps/web/src/components/trips/ShareTripDialog.tsx
  apps/web/src/components/trips/TripCard.tsx
  apps/web/src/components/trips/TripEventList.tsx
  apps/web/src/components/trips/__tests__/TripCard.test.tsx
  apps/web/src/hooks/__tests__/useTrips.test.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/event.ts
Due: ty, prettier, typecheck

fix: renumber travel companion migration to 027 to resolve conflict
  apps/api/alembic/versions/20260209_0001_027_add_travel_companion.py
Due: ty

fix: update test mock data to match refined TC-1 shared types
  apps/web/src/hooks/__tests__/useJapan.test.ts
  apps/web/src/hooks/__tests__/useLabNotes.test.ts
  apps/web/src/hooks/__tests__/useLabNotesAdmin.test.ts
  apps/web/src/hooks/__tests__/useSets.test.ts
  apps/web/src/hooks/__tests__/useTournaments.test.ts
  apps/web/src/hooks/__tests__/useTranslations.test.ts
  apps/web/src/hooks/__tests__/useTranslationsAdmin.test.ts
  apps/web/src/lib/__tests__/analytics.test.ts
Due: prettier, typecheck
