Repository dtsong/trainerlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, typecheck

.pre-commit-config.yaml:

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  # Python - Ruff (linting and formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty (type check)
        entry: bash -c 'cd apps/api && uv tool run ty check src'
        language: system
        types: [python]
        pass_filenames: false

  # TypeScript/JavaScript - Prettier (uses project's own version)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && npx prettier --write "$@"' --
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: pnpm-lock.yaml

  # TypeScript - Type checking (shared-types only until apps are set up)
  - repo: local
    hooks:
      - id: typecheck
        name: TypeScript typecheck
        entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @trainerlab/shared-types typecheck'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

feat: add evolution frontend types, hooks, components, and pages
  apps/web/src/app/evolution/[slug]/page.tsx
  apps/web/src/app/evolution/accuracy/page.tsx
  apps/web/src/app/evolution/layout.tsx
  apps/web/src/app/evolution/page.tsx
  apps/web/src/components/evolution/AdaptationLog.tsx
  apps/web/src/components/evolution/DecklistDiff.tsx
  apps/web/src/components/evolution/EvolutionChart.tsx
  apps/web/src/components/evolution/EvolutionTimeline.tsx
  apps/web/src/components/evolution/PredictionAccuracyTable.tsx
  apps/web/src/components/evolution/PredictionCard.tsx
  apps/web/src/components/evolution/index.ts
  apps/web/src/components/home/EvolutionPreview.tsx
  apps/web/src/hooks/__tests__/useEvolution.test.ts
  apps/web/src/hooks/useEvolution.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/evolution.ts
  packages/shared-types/src/index.ts
Due: prettier, typecheck

fix: improve evolution frontend type safety, error handling, and tests
  apps/web/src/app/evolution/[slug]/page.tsx
  apps/web/src/app/evolution/layout-client.tsx
  apps/web/src/app/evolution/layout.tsx
  apps/web/src/components/evolution/AdaptationLog.tsx
  apps/web/src/components/evolution/DecklistDiff.tsx
  apps/web/src/components/evolution/EvolutionChart.tsx
  apps/web/src/components/evolution/EvolutionTimeline.tsx
  apps/web/src/components/evolution/PredictionAccuracyTable.tsx
  apps/web/src/components/evolution/PredictionCard.tsx
  apps/web/src/components/home/EvolutionPreview.tsx
  apps/web/src/hooks/__tests__/useEvolution.test.ts
  apps/web/src/hooks/useEvolution.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/date-utils.ts
  packages/shared-types/src/evolution.ts
Due: prettier, typecheck

feat: add Evolution frontend (types, hooks, components, pages) (#310)
  apps/web/src/app/evolution/[slug]/page.tsx
  apps/web/src/app/evolution/accuracy/page.tsx
  apps/web/src/app/evolution/layout-client.tsx
  apps/web/src/app/evolution/layout.tsx
  apps/web/src/app/evolution/page.tsx
  apps/web/src/components/evolution/AdaptationLog.tsx
  apps/web/src/components/evolution/DecklistDiff.tsx
  apps/web/src/components/evolution/EvolutionChart.tsx
  apps/web/src/components/evolution/EvolutionTimeline.tsx
  apps/web/src/components/evolution/PredictionAccuracyTable.tsx
  apps/web/src/components/evolution/PredictionCard.tsx
  apps/web/src/components/evolution/index.ts
  apps/web/src/components/home/EvolutionPreview.tsx
  apps/web/src/hooks/__tests__/useEvolution.test.ts
  apps/web/src/hooks/useEvolution.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/date-utils.ts
  packages/shared-types/src/evolution.ts
  packages/shared-types/src/index.ts
Due: prettier, typecheck

fix: correct archetype shares calculation and auth test signatures
  apps/api/src/services/meta_service.py
  apps/api/tests/test_auth.py
  apps/api/tests/test_user_beta_flag.py
Due: ty

feat: add web security hardening (CSP, rate limiting, validation, logging)
  apps/api/src/dependencies/admin.py
  apps/api/src/dependencies/auth.py
  apps/api/src/routers/cards.py
  apps/api/src/routers/lab_notes.py
  apps/api/src/routers/meta.py
  apps/api/src/routers/users.py
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/lib/api-validation.ts
  apps/web/src/lib/api.ts
  pnpm-lock.yaml
Due: ty, prettier, typecheck

fix: address critical issues in evolution code
  apps/api/src/pipelines/compute_evolution.py
  apps/api/src/routers/evolution.py
Due: ty

fix: add type safety and constraints to evolution schemas
  apps/api/src/schemas/evolution.py
  apps/api/src/services/evolution_article_generator.py
Due: ty

feat: add Phase 3B Translation Pipeline (#284, #285, #286, #287, #288)
  apps/api/alembic/versions/20260203_0001_016_add_translation_tables.py
  apps/api/src/clients/pokecabook.py
  apps/api/src/clients/pokekameshi.py
  apps/api/src/data/__init__.py
  apps/api/src/data/tcg_glossary.py
  apps/api/src/models/__init__.py
  apps/api/src/models/jp_card_adoption_rate.py
  apps/api/src/models/jp_unreleased_card.py
  apps/api/src/models/translated_content.py
  apps/api/src/models/translation_term_override.py
  apps/api/src/schemas/translation.py
  apps/api/src/services/translation_service.py
  apps/api/tests/fixtures/pokecabook_adoption_rates.html
  apps/api/tests/fixtures/pokecabook_article_list.html
  apps/api/tests/fixtures/pokecabook_tier_list.html
  apps/api/tests/fixtures/pokekameshi_meta_report.html
  apps/api/tests/fixtures/pokekameshi_tier_table.html
  apps/api/tests/test_pokecabook_client.py
  apps/api/tests/test_pokekameshi_client.py
Due: ty

feat: complete Phase 3B Translation Pipeline (#289, #290, #291, #292)
  apps/api/src/clients/limitless.py
  apps/api/src/main.py
  apps/api/src/pipelines/monitor_card_reveals.py
  apps/api/src/pipelines/sync_jp_adoption_rates.py
  apps/api/src/pipelines/translate_pokecabook.py
  apps/api/src/pipelines/translate_tier_lists.py
  apps/api/src/routers/__init__.py
  apps/api/src/routers/pipeline.py
  apps/api/src/routers/translations.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/schemas/translation.py
  apps/api/tests/test_translation_pipelines.py
  terraform/modules/scheduler/main.tf
Due: ty

test: add comprehensive test coverage for backend and frontend
  apps/api/tests/test_format_router.py
  apps/api/tests/test_japan.py
  apps/api/tests/test_lab_note_service.py
  apps/api/tests/test_lab_notes_router.py
  apps/api/tests/test_tournament_scrape.py
  apps/api/tests/test_translation_service.py
  apps/web/src/components/evolution/__tests__/DecklistDiff.test.tsx
  apps/web/src/components/evolution/__tests__/EvolutionChart.test.tsx
  apps/web/src/hooks/__tests__/useAuth.test.ts
  apps/web/src/hooks/__tests__/useCards.test.ts
  apps/web/src/hooks/__tests__/useFormat.test.ts
  apps/web/src/hooks/__tests__/useLabNotes.test.ts
  apps/web/src/hooks/__tests__/useTournaments.test.ts
  apps/web/src/lib/__tests__/affiliate.test.ts
  apps/web/src/lib/__tests__/date-utils.test.ts
Due: ty, prettier, typecheck

fix: add JP-to-EN card ID mapping for accurate archetype detection
  apps/api/alembic/versions/20260204_0002_017_add_card_id_mappings.py
  apps/api/src/clients/limitless.py
  apps/api/src/data/signature_cards.py
  apps/api/src/models/__init__.py
  apps/api/src/models/card_id_mapping.py
  apps/api/src/pipelines/sync_card_mappings.py
  apps/api/src/services/archetype_detector.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_archetype_detector.py
Due: ty

feat: add sync-card-mappings CLI script and pipeline endpoint
  apps/api/scripts/sync-card-mappings.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  scripts/verify-pipelines.sh
Due: ty

feat: add Translation Frontend and Creator Database Models (#293, #294)
  apps/api/alembic/env.py
  apps/api/alembic/versions/20260204_0003_018_add_creator_tables.py
  apps/api/src/models/__init__.py
  apps/api/src/models/api_key.py
  apps/api/src/models/api_request.py
  apps/api/src/models/data_export.py
  apps/api/src/models/user.py
  apps/api/src/models/widget.py
  apps/api/src/models/widget_view.py
  apps/web/src/app/admin/translations/[id]/page.tsx
  apps/web/src/app/admin/translations/glossary/page.tsx
  apps/web/src/app/admin/translations/page.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/CardAdoptionRates.tsx
  apps/web/src/components/japan/UpcomingCards.tsx
  apps/web/src/components/japan/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useTranslations.ts
  apps/web/src/hooks/useTranslationsAdmin.ts
  apps/web/src/lib/api.ts
  packages/shared-types/src/index.ts
  packages/shared-types/src/translation.ts
Due: ty, prettier, typecheck

fix: improve test mocking and add sync-card-mappings scheduler
  apps/api/tests/test_translation_pipelines.py
  terraform/modules/scheduler/main.tf
Due: ty

Align pipelines and JP card mapping
  AGENTS.md
  apps/api/src/clients/limitless.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_limitless_scraper.py
  docs/CODEMAP.md
  docs/DEPLOYMENT.md
  docs/OPERATIONS.md
  docs/SCRAPER_ARCHITECTURE.md
  docs/SCRIPTS.md
  docs/SPEC.md
  docs/architecture/AUTHENTICATION.md
  docs/architecture/DATA_PIPELINE.md
  docs/architecture/README.md
  docs/architecture/SYSTEM_OVERVIEW.md
  scripts/test-production-scrapers.sh
  terraform/README.md
Due: ty, prettier

feat: add Docker infrastructure for local development
  .env.example
  apps/api/Dockerfile
  apps/api/scripts/entrypoint.sh
  apps/web/Dockerfile
  docker-compose.yml
Due: prettier

feat: add placeholder card system for unreleased JP cards
  apps/api/alembic/versions/20260205_0001_020_add_placeholder_cards.py
  apps/api/src/models/__init__.py
  apps/api/src/models/card_id_mapping.py
  apps/api/src/models/placeholder_card.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/placeholder.py
  apps/api/src/services/placeholder_service.py
Due: ty

fix: resolve pre-existing ty type checker errors
  apps/api/src/clients/claude.py
  apps/api/src/routers/evolution.py
Due: ty

fix: rewrite JP City League placement parser
  apps/api/src/clients/limitless.py
  apps/api/src/services/tournament_scrape.py
Due: ty

feat: add synchronous tournament processing for local dev
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
Due: ty

feat: add local dev scripts and JP ingestion documentation
  docs/JP_CITY_LEAGUE_INGESTION.md
  scripts/db-local.sh
  scripts/export-data.sh
  scripts/ingest-jp-deep.sh
  scripts/test-jp-scrape.sh
  scripts/verify-local.sh
Due: prettier

test: improve unit test coverage to 85% across backend and frontend
  apps/api/pyproject.toml
  apps/api/tests/test_admin_router.py
  apps/api/tests/test_cloud_tasks_service.py
  apps/api/tests/test_compute_evolution.py
  apps/api/tests/test_config.py
  apps/api/tests/test_data_export_extended.py
  apps/api/tests/test_database.py
  apps/api/tests/test_evolution_router.py
  apps/api/tests/test_health_router.py
  apps/api/tests/test_lab_notes_router.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_meta.py
  apps/api/tests/test_pipeline_router.py
  apps/api/tests/test_pipeline_router_extended.py
  apps/api/tests/test_placeholder_service.py
  apps/api/tests/test_sync_cards.py
  apps/api/tests/test_tournaments.py
  apps/api/tests/test_translate_tier_lists.py
  apps/api/tests/test_widget_resolvers.py
  apps/api/uv.lock
  apps/web/src/components/cards/__tests__/CardFilters.test.tsx
  apps/web/src/components/japan/__tests__/CardAdoptionRates.test.tsx
  apps/web/src/components/japan/__tests__/UpcomingCards.test.tsx
  apps/web/src/components/meta/__tests__/MetaBarChart.test.tsx
  apps/web/src/components/meta/__tests__/MetaPieChart.test.tsx
  apps/web/src/components/meta/__tests__/MetaTrendChart.test.tsx
  apps/web/src/lib/__tests__/api.test.ts
  apps/web/src/lib/__tests__/auth.test.ts
  apps/web/src/lib/__tests__/meta-utils.test.ts
  apps/web/src/stores/__tests__/deckStore.test.ts
Due: ty, prettier, typecheck

fix: resolve Google OAuth login failure on Vercel
  apps/web/.env.production
  apps/web/next.config.js
  apps/web/src/lib/__tests__/auth.test.ts
  apps/web/src/lib/auth.ts
Due: prettier, typecheck

fix: handle GCS errors in cleanup-exports to prevent HTTP 500
  apps/api/src/routers/pipeline.py
  apps/api/tests/test_pipeline_router_extended.py
Due: ty

chore: remove unused OG images bucket and update pipeline scripts
  apps/api/src/config.py
  apps/api/tests/test_storage_service.py
  scripts/test-production-scrapers.sh
  scripts/verify-pipelines.sh
  terraform/main.tf
Due: ty

fix: restore Dockerfile CMD for Cloud Run, remove broken secret ref
  apps/api/Dockerfile
  docker-compose.yml
  terraform/main.tf
Due: prettier

fix: restore JP archetype detection via sprite extraction
  apps/api/alembic/versions/20260205_0002_021_add_archetype_metadata.py
  apps/api/alembic/versions/20260205_0003_022_add_archetype_sprites.py
  apps/api/src/clients/limitless.py
  apps/api/src/models/__init__.py
  apps/api/src/models/archetype_sprite.py
  apps/api/src/models/tournament_placement.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/fixtures/limitless_jp_standings.html
  apps/api/tests/test_archetype_normalizer.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_tournament_scrape.py
Due: ty

feat: expand archetype normalizer with DB integration and admin CRUD
  CLAUDE.md
  apps/api/alembic/versions/20260205_0003_022_add_archetype_sprites.py
  apps/api/src/clients/limitless.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/archetype_sprite.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_admin_router.py
  apps/api/tests/test_archetype_normalizer.py
  apps/api/tests/test_tournament_scrape.py
  docs/CODEMAP.md
Due: ty, prettier

feat: JP archetype sprite extraction and normalization pipeline (#312)
  CLAUDE.md
  apps/api/alembic/versions/20260205_0002_021_add_archetype_metadata.py
  apps/api/alembic/versions/20260205_0003_022_add_archetype_sprites.py
  apps/api/src/clients/limitless.py
  apps/api/src/models/__init__.py
  apps/api/src/models/archetype_sprite.py
  apps/api/src/models/tournament_placement.py
  apps/api/src/routers/admin.py
  apps/api/src/schemas/archetype_sprite.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/fixtures/limitless_jp_standings.html
  apps/api/tests/test_admin_router.py
  apps/api/tests/test_archetype_normalizer.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_tournament_scrape.py
  docs/CODEMAP.md
Due: ty, prettier

feat: complete Phase 1 of JP archetype pipeline (#311)
  apps/api/alembic/versions/20260206_0001_023_add_card_mapping_confidence.py
  apps/api/scripts/validate_jp_pipeline.py
  apps/api/src/models/card_id_mapping.py
  apps/api/src/pipelines/sync_card_mappings.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/fixtures/jp_tournaments/city_league_osaka_2025.html
  apps/api/tests/fixtures/jp_tournaments/city_league_tokyo_2025.html
  apps/api/tests/fixtures/jp_tournaments/expected_results.json
  apps/api/tests/test_jp_golden_dataset.py
  apps/api/tests/test_sync_card_mappings.py
  apps/api/tests/test_tournament_scrape.py
Due: ty, prettier

docs(council): Round 3 converge + design document + PRD for Phase 2
  .claude/council/deliberation/round1/advocate.md
  .claude/council/deliberation/round1/architect.md
  .claude/council/deliberation/round1/chronicler.md
  .claude/council/deliberation/round1/craftsman.md
  .claude/council/deliberation/round1/operator.md
  .claude/council/deliberation/round1/scout.md
  .claude/council/deliberation/round1/skeptic.md
  .claude/council/deliberation/round1/strategist.md
  .claude/council/deliberation/round2/SYNTHESIS.md
  .claude/council/deliberation/round2/advocate.md
  .claude/council/deliberation/round2/architect.md
  .claude/council/deliberation/round2/chronicler.md
  .claude/council/deliberation/round2/craftsman.md
  .claude/council/deliberation/round2/operator.md
  .claude/council/deliberation/round2/scout.md
  .claude/council/deliberation/round2/skeptic.md
  .claude/council/deliberation/round2/strategist.md
  .claude/council/deliberation/round3/advocate.md
  .claude/council/deliberation/round3/architect.md
  .claude/council/deliberation/round3/chronicler.md
  .claude/council/deliberation/round3/craftsman.md
  .claude/council/deliberation/round3/operator.md
  .claude/council/deliberation/round3/scout.md
  .claude/council/deliberation/round3/skeptic.md
  .claude/council/deliberation/round3/strategist.md
  .claude/council/design.md
  .claude/council/interview-summary.md
  .claude/council/interview-transcript.md
  .claude/council/session.md
  .claude/prd/prd-jp-archetype-phase2.md
Due: prettier

feat: JP archetype pipeline Phase 2 — reprocess endpoint, sprite fixes, frontend sprites
  apps/api/scripts/shadow_compare.py
  apps/api/src/pipelines/reprocess_archetypes.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/fixtures/jp_tournaments/expected_results.json
  apps/api/tests/test_archetype_edge_cases.py
  apps/api/tests/test_archetype_normalizer.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_reprocess_archetypes.py
  apps/api/tests/test_tournament_scrape.py
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/CardAdoptionRates.tsx
  apps/web/src/components/japan/CardCountEvolutionSection.tsx
  apps/web/src/components/japan/CardInnovationTracker.tsx
  apps/web/src/components/japan/CityLeagueResultsFeed.tsx
  apps/web/src/components/japan/MetaDivergenceComparison.tsx
  apps/web/src/components/japan/NewArchetypeWatch.tsx
  apps/web/src/components/japan/__tests__/CardAdoptionRates.test.tsx
  apps/web/src/components/japan/__tests__/CardCountEvolutionSection.test.tsx
  apps/web/src/components/japan/__tests__/CardInnovationTracker.test.tsx
  apps/web/src/components/japan/__tests__/CityLeagueResultsFeed.test.tsx
  apps/web/src/components/japan/__tests__/NewArchetypeWatch.test.tsx
  apps/web/src/components/meta/ArchetypeSprites.tsx
  apps/web/src/components/meta/BO1ContextBanner.tsx
  apps/web/src/components/meta/MetaPieChart.tsx
  apps/web/src/components/meta/__tests__/ArchetypeSprites.test.tsx
  apps/web/src/components/meta/__tests__/BO1ContextBanner.test.tsx
  apps/web/src/components/meta/index.ts
  docs/CODEMAP.md
  packages/shared-types/src/meta.ts
Due: ty, prettier, typecheck

feat: Phase 3 — April 10 Intelligence Surface (comparison, forecast, tech cards)
  CLAUDE.md
  apps/api/src/routers/meta.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/meta.py
  apps/api/src/services/meta_service.py
  apps/api/tests/test_meta_compare_endpoint.py
  apps/api/tests/test_meta_comparison_service.py
  apps/web/src/app/meta/japan/__tests__/page.test.tsx
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/home/FormatForecast.tsx
  apps/web/src/components/home/__tests__/FormatForecast.test.tsx
  apps/web/src/components/home/index.ts
  apps/web/src/components/japan/MetaDivergenceComparison.tsx
  apps/web/src/components/japan/__tests__/MetaDivergenceComparison.test.tsx
  apps/web/src/components/ui/__tests__/confidence-badge.test.tsx
  apps/web/src/components/ui/confidence-badge.tsx
  apps/web/src/hooks/__tests__/useMeta.test.ts
  apps/web/src/hooks/useMeta.ts
  apps/web/src/lib/api.ts
  docs/ADR_001_LIMITLESS_ARCHETYPE_ADOPTION.md
  docs/CODEMAP.md
  docs/DATA_DICTIONARY.md
  packages/shared-types/src/meta.ts
Due: ty, prettier, typecheck

test: Phase 3 QA — edge case tests, verification scripts, and QA docs
  apps/api/tests/test_meta_compare_endpoint.py
  apps/api/tests/test_meta_comparison_service.py
  apps/web/src/components/home/__tests__/FormatForecast.test.tsx
  apps/web/src/components/japan/__tests__/MetaDivergenceComparison.test.tsx
  docs/QA_PHASE3_CHECKLIST.md
  docs/TESTING.md
  scripts/verify-local.sh
  scripts/verify-phase3.sh
Due: ty, prettier, typecheck

feat: add unified ./tl developer CLI with composite runners and nuke
  apps/api/scripts/seed-tournaments.py
  docs/CODEMAP.md
  scripts/verify-local.sh
  tl
Due: ty, prettier

fix: wire ANTHROPIC_API_KEY secret to Cloud Run service
  terraform/main.tf
Due: none

refactor: simplify local dev to Postgres-only, remove Redis
  .dockerignore
  apps/api/.env.example
  apps/api/pyproject.toml
  apps/api/src/config.py
  apps/api/src/routers/health.py
  apps/api/tests/test_health.py
  apps/api/tests/test_health_router.py
  apps/api/uv.lock
  apps/web/Dockerfile
  apps/web/next.config.js
  docker-compose.yml
  scripts/db-local.sh
  scripts/ingest-jp-deep.sh
  scripts/test-jp-scrape.sh
  scripts/verify-local.sh
  scripts/verify-phase3.sh
  terraform/README.md
  terraform/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
  tl
Due: ty, prettier

feat: dev environment for pipeline testing, logging, and data quality
  .github/workflows/ci.yml
  .github/workflows/pipeline-health.yml
  apps/api/.env.example
  apps/api/alembic/versions/20260207_0001_024_add_archetype_confidence.py
  apps/api/pyproject.toml
  apps/api/scripts/sprite_coverage_report.py
  apps/api/src/clients/limitless.py
  apps/api/src/main.py
  apps/api/src/models/tournament_placement.py
  apps/api/src/pipelines/compute_evolution.py
  apps/api/src/pipelines/compute_meta.py
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/health.py
  apps/api/src/schemas/health.py
  apps/api/src/services/archetype_normalizer.py
  apps/api/src/services/data_quality.py
  apps/api/src/services/health_service.py
  apps/api/tests/conftest.py
  apps/api/tests/fixtures/jp_tournaments/city_league_mega_2025.html
  apps/api/tests/fixtures/jp_tournaments/city_league_nagoya_2025.html
  apps/api/tests/fixtures/jp_tournaments/city_league_new_format_2025.html
  apps/api/tests/fixtures/jp_tournaments/city_league_sparse_2025.html
  apps/api/tests/fixtures/jp_tournaments/expected_results.json
  apps/api/tests/test_archetype_detection_golden.py
  apps/api/tests/test_archetype_quality.py
  apps/api/tests/test_health_service.py
  apps/api/tests/test_pipeline_e2e.py
  scripts/snapshot-prod.sh
  scripts/verify-local.sh
  terraform/environments/dev.tfvars
  terraform/main.tf
  tl
Due: ty, prettier
