Repository dtsong/trainerlab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, prettier, typecheck

ty:
  name: ty (type check)
  entry: bash -c 'cd apps/api && uv tool run ty check src'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && npx prettier --write "$@"' --
  language: system

typecheck:
  name: TypeScript typecheck
  entry: bash -c 'source ~/.nvm/nvm.sh && nvm use default --silent && pnpm --filter @trainerlab/shared-types typecheck'
  language: system
  pass_filenames: false

fix(web): fix 7 critical UX issues — card names, sprites, tabs, auth, nav, density
  apps/web/src/app/grassroots/__tests__/page.test.tsx
  apps/web/src/app/grassroots/page.tsx
  apps/web/src/app/meta/page.tsx
  apps/web/src/app/tournaments/__tests__/page.test.tsx
  apps/web/src/app/tournaments/page.tsx
  apps/web/src/components/home/MetaSnapshot.tsx
  apps/web/src/components/home/__tests__/MetaSnapshot.test.tsx
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/components/layout/TopNav.tsx
  apps/web/src/components/layout/__tests__/MobileNav.test.tsx
  apps/web/src/components/layout/__tests__/TopNav.test.tsx
  apps/web/src/components/meta/ArchetypeCard.tsx
  apps/web/src/components/meta/__tests__/ArchetypeCard.test.tsx
  apps/web/src/lib/__tests__/home-utils.test.ts
  apps/web/src/lib/__tests__/meta-utils.test.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/home-utils.ts
  apps/web/src/lib/meta-utils.ts
  packages/shared-types/src/meta.ts
Due: prettier, typecheck

fix(web): mock auth token prefetch in api tests
  apps/web/src/lib/__tests__/api.test.ts
Due: prettier, typecheck

feat(web): show card thumbnails on meta bar axis
  apps/web/src/components/meta/MetaBarChart.tsx
  apps/web/src/components/meta/__tests__/MetaBarChart.test.tsx
Due: prettier, typecheck

feat(web): surface trending movers on home
  apps/web/src/components/home/Hero.tsx
  apps/web/src/components/home/HomePageContent.tsx
  apps/web/src/components/home/TrendingMovers.tsx
  apps/web/src/components/home/__tests__/TrendingMovers.test.tsx
  apps/web/src/components/home/index.ts
Due: prettier, typecheck

fix(web): widen Recharts tick prop types
  apps/web/src/components/meta/MetaBarChart.tsx
Due: prettier, typecheck

feat(web): enable add-event-to-trip flow
  apps/web/src/app/events/[id]/page.tsx
  apps/web/src/app/trips/page.tsx
  apps/web/src/components/events/CountdownBadge.tsx
  apps/web/src/components/events/EventCard.tsx
  apps/web/src/components/events/__tests__/CountdownBadge.test.tsx
  apps/web/src/components/events/__tests__/EventCard.test.tsx
  apps/web/src/components/trips/AddEventToTripDialog.tsx
  apps/web/src/components/trips/__tests__/AddEventToTripDialog.test.tsx
  apps/web/src/components/trips/index.ts
Due: prettier, typecheck

feat(web): group events by region and spotlight majors
  apps/web/src/app/events/__tests__/page.test.tsx
  apps/web/src/app/events/page.tsx
Due: prettier, typecheck

feat(web): add public Investigate hub
  apps/web/src/app/investigate/__tests__/page.test.tsx
  apps/web/src/app/investigate/page.tsx
  apps/web/src/components/layout/MobileNav.tsx
  apps/web/src/components/layout/TopNav.tsx
  apps/web/src/components/layout/__tests__/MobileNav.test.tsx
  apps/web/src/components/layout/__tests__/TopNav.test.tsx
  apps/web/src/lib/route-access.ts
Due: prettier, typecheck

chore(web): format dossier route
  apps/web/src/app/decks/[id]/DeckListReadOnly.tsx
  apps/web/src/app/investigate/card/[cardId]/CardDossierClient.tsx
  apps/web/src/app/investigate/card/[cardId]/__tests__/CardDossierClient.test.tsx
  apps/web/src/app/investigate/card/[cardId]/page.tsx
  apps/web/src/components/cards/CardGrid.tsx
  apps/web/src/components/cards/__tests__/CardGrid.test.tsx
  apps/web/src/components/deck/DeckListItem.tsx
  apps/web/src/components/deck/__tests__/DeckListItem.test.tsx
  apps/web/src/components/meta/MetaBarChart.tsx
  apps/web/src/components/meta/__tests__/MetaBarChart.test.tsx
  apps/web/src/lib/route-access.ts
Due: prettier, typecheck

chore(ops): add production web smoke script
  docs/CLOSED_BETA_SMOKE_TEST.md
  docs/SCRIPTS.md
  scripts/cloud/smoke-web-prod.sh
Due: prettier

feat: deeper deck analysis with consensus decklist, card grid, and card modal
  apps/api/src/routers/cards.py
  apps/api/src/routers/meta.py
  apps/api/src/schemas/__init__.py
  apps/api/src/schemas/card.py
  apps/api/src/schemas/meta.py
  apps/api/tests/test_meta.py
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/app/meta/page.tsx
  apps/web/src/components/cards/CardDetailModal.tsx
  apps/web/src/components/meta/ArchetypePanel.tsx
  apps/web/src/components/meta/ConsensusCardGrid.tsx
  apps/web/src/components/meta/TierList.tsx
  apps/web/src/components/meta/__tests__/ArchetypePanel.test.tsx
  apps/web/src/components/meta/index.ts
  apps/web/src/lib/api-validation.ts
  apps/web/src/lib/api.ts
  apps/web/src/lib/meta-utils.ts
  packages/shared-types/src/card.ts
  packages/shared-types/src/meta.ts
Due: ty, prettier, typecheck

fix: resolve CI failures on feat/deeper-deck-analysis
  apps/api/src/clients/claude.py
  apps/api/tests/conftest.py
  apps/api/tests/routers/test_events_router.py
  apps/api/tests/test_card_batch.py
  apps/api/tests/test_cards.py
  apps/api/tests/test_evolution_router.py
  apps/api/tests/test_jp_key_card_details.py
  apps/api/tests/test_meta_compare_endpoint.py
  apps/api/tests/test_pipeline_e2e.py
  apps/api/tests/test_post_rotation_features.py
  apps/api/tests/test_sets.py
  apps/api/tests/test_visual_card_refs.py
  apps/api/tests/test_waitlist.py
  apps/web/src/components/cards/CardDetailModal.tsx
Due: ty, prettier, typecheck

fix(api): set timestamps explicitly in major_format_windows seed
  apps/api/src/pipelines/seed_data.py
Due: ty

feat(api): add JP official tournament discovery, article ingestion, and admin tournament creation
  apps/api/src/clients/pokecabook.py
  apps/api/src/clients/pokekameshi.py
  apps/api/src/pipelines/ingest_jp_tournament_articles.py
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/routers/admin.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/unit/test_admin_tournament_create.py
  apps/api/tests/unit/test_discover_jp_official.py
  apps/api/tests/unit/test_ingest_jp_articles.py
Due: ty

chore(docs): add full data rebuild runbook and gitignore memory/
  .gitignore
  docs/CLOSED_BETA_FULL_DATA_REBUILD_RUNBOOK.md
  docs/CLOSED_BETA_SMOKE_TEST.md
Due: prettier

chore(docs): add Tool Radar section to scraper architecture
  docs/SCRAPER_ARCHITECTURE.md
Due: prettier

chore(docs): add Tool Radar section to scraper architecture (#381)
  docs/SCRAPER_ARCHITECTURE.md
Due: prettier

feat(api): uncap official tournament placements and document JP data sources
  apps/api/src/clients/claude.py
  apps/api/src/clients/limitless.py
  apps/api/src/pipelines/scrape_limitless.py
  apps/api/src/services/tournament_scrape.py
  apps/api/tests/test_limitless_scraper.py
  apps/api/tests/test_scrape_limitless_pipeline.py
  apps/api/tests/test_tournament_scrape.py
  docs/SPEC.md
Due: ty, prettier

feat(api): add JP data source scrapers for Pokecabook, Pokekameshi, and Players Club
  apps/api/alembic/versions/20260222_0001_038_create_jp_external_meta_shares.py
  apps/api/src/clients/__init__.py
  apps/api/src/clients/players_club.py
  apps/api/src/models/__init__.py
  apps/api/src/models/jp_external_meta_share.py
  apps/api/src/pipelines/scrape_players_club.py
  apps/api/src/pipelines/scrape_pokecabook.py
  apps/api/src/pipelines/scrape_pokekameshi.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/unit/test_players_club_client.py
  apps/api/tests/unit/test_scrape_players_club.py
  apps/api/tests/unit/test_scrape_pokecabook.py
  apps/api/tests/unit/test_scrape_pokekameshi.py
  docs/SPEC.md
Due: ty, prettier

fix(api): harden JP scraper error handling and fix data integrity issues
  apps/api/alembic/versions/20260222_0001_038_create_jp_external_meta_shares.py
  apps/api/src/clients/players_club.py
  apps/api/src/models/jp_external_meta_share.py
  apps/api/src/pipelines/scrape_players_club.py
  apps/api/src/pipelines/scrape_pokekameshi.py
  apps/api/tests/unit/test_players_club_client.py
  docs/SPEC.md
Due: ty, prettier

fix(api): zero out result counts on commit failure, add type annotation
  apps/api/src/pipelines/scrape_players_club.py
  apps/api/src/pipelines/scrape_pokekameshi.py
  apps/api/tests/unit/test_scrape_players_club.py
Due: ty

feat(api): add JP data source scrapers (#382, #383, #384) (#385)
  apps/api/alembic/versions/20260222_0001_038_create_jp_external_meta_shares.py
  apps/api/src/clients/__init__.py
  apps/api/src/clients/players_club.py
  apps/api/src/models/__init__.py
  apps/api/src/models/jp_external_meta_share.py
  apps/api/src/pipelines/scrape_players_club.py
  apps/api/src/pipelines/scrape_pokecabook.py
  apps/api/src/pipelines/scrape_pokekameshi.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/unit/test_players_club_client.py
  apps/api/tests/unit/test_scrape_players_club.py
  apps/api/tests/unit/test_scrape_pokecabook.py
  apps/api/tests/unit/test_scrape_pokekameshi.py
  docs/SPEC.md
Due: ty, prettier

feat(api): add Kernel cloud browser integration for JP scrapers
  apps/api/.env.example
  apps/api/pyproject.toml
  apps/api/src/clients/__init__.py
  apps/api/src/clients/kernel_browser.py
  apps/api/src/clients/players_club.py
  apps/api/src/clients/pokecabook.py
  apps/api/src/clients/pokekameshi.py
  apps/api/tests/unit/test_kernel_browser.py
  apps/api/tests/unit/test_scrape_pokecabook.py
  apps/api/tests/unit/test_scrape_pokekameshi.py
  apps/api/uv.lock
Due: ty

infra: add KERNEL_API_KEY to Cloud Run secrets
  terraform/main.tf
Due: none

feat(api): replace Players Club JSON stubs with rendered HTML parsing (#386)
  apps/api/src/clients/players_club.py
  apps/api/src/pipelines/scrape_players_club.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/unit/test_players_club_client.py
  apps/api/tests/unit/test_scrape_players_club.py
Due: ty

fix: normalize card IDs at lookup time to handle padded/unpadded mismatch
  apps/api/src/routers/meta.py
  apps/api/tests/test_card_id_normalization.py
Due: ty

fix: address PR review — variant collision, tests, comments
  apps/api/src/routers/meta.py
  apps/api/tests/test_card_id_normalization.py
Due: ty

fix: normalize card IDs to resolve image mismatch (#389)
  apps/api/src/routers/meta.py
  apps/api/tests/test_card_id_normalization.py
Due: ty

fix: extend card ID variant generation to handle card number padding
  apps/api/src/routers/meta.py
  apps/api/tests/test_card_id_normalization.py
Due: ty

fix: append .webp suffix to TCGdex image URLs for proper rendering
  apps/api/src/clients/tcgdex.py
  apps/api/tests/test_card_sync.py
  apps/web/src/app/meta/japan/page.tsx
  apps/web/src/components/japan/RotationBriefingHeader.tsx
Due: ty, prettier, typecheck

feat(api): add limitless_id column and sync pipeline for direct card ID resolution
  apps/api/alembic/versions/20260223_0001_039_add_limitless_id_to_cards.py
  apps/api/src/clients/limitless.py
  apps/api/src/models/card.py
  apps/api/src/pipelines/sync_limitless_cards.py
  apps/api/src/routers/meta.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
  apps/api/tests/test_batch_lookup_limitless.py
  apps/api/tests/test_card_id_normalization.py
  apps/api/tests/test_limitless_en_cards.py
  apps/api/tests/test_sync_limitless_cards.py
  apps/api/tests/test_visual_card_refs.py
  tl
Due: ty

fix: expand LIMITLESS_SET_MAPPING to cover all eras and use correct TCGdex IDs
  apps/api/src/clients/limitless.py
Due: ty

feat(api): add unmatched_by_set diagnostic output to sync-limitless-cards
  apps/api/src/pipelines/sync_limitless_cards.py
  apps/api/src/routers/pipeline.py
  apps/api/src/schemas/pipeline.py
Due: ty

fix: handle promo set ID formats and add SV->pl3 mapping
  apps/api/src/clients/limitless.py
  apps/api/src/pipelines/sync_limitless_cards.py
  apps/api/tests/test_sync_limitless_cards.py
Due: ty

feat(web): build NavBar component with DESIGN.md v3.0 dark theme
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/layout/LayoutChrome.tsx
  apps/web/src/components/layout/TopNav.tsx
  apps/web/src/components/layout/__tests__/TopNav.test.tsx
  apps/web/tailwind.config.ts
Due: prettier, typecheck

feat(web): switch base theme to dark lab palette
  apps/web/src/app/globals.css
  apps/web/src/components/layout/LayoutChrome.tsx
Due: prettier, typecheck

feat: collapse energy cards in decklists and show unreleased card badges
  apps/api/src/routers/tournaments.py
  apps/api/src/schemas/tournament.py
  apps/api/tests/test_tournaments.py
  apps/web/src/components/japan/DecklistViewer.tsx
  apps/web/src/components/japan/__tests__/DecklistViewer.test.tsx
  packages/shared-types/src/tournament.ts
Due: ty, prettier, typecheck

chore: prepare Terraform for sunset teardown
  terraform/environments/prod.tfvars
  terraform/main.tf
Due: none

Path conditions:
  ty: any of: \.py$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, but not: pnpm-lock.yaml
  typecheck: any of: \.(ts|mts|cts)$, \.tsx$
